body{
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 100%;
}
.boton{
    width: 150px;
    background: #cddc39;
    border: 6px green solid;
    border-radius: 12px; 
    padding: 6px;
    margin:  0 auto;
}
.descripcion{
    text-align: center;
}
.precio{
    font-family: 'Glegoo', serif;
    font-size: 1.8em;
    flex: 1;
}
section{
    display: flex;
}
.imagen{
    width: 50%;
}
